/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
input[type="number"]{
    width:100px;
}
.total_price {
    width: 10%;
}
.traveler_price{
    width: 15%;
}
.itineraries{
    width: 60%;
}
.action {
    width: 15%;
}
#departure {
    width: 300px;
}
#departure_div{
    float:left;
}
#departure_result {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
    #departure_result li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 5px;
        text-decoration: none;
        font-size: 15px;
        color: black;
        width: 300px;
        display: block
    }

        #departure_result li a:hover:not(.header) {
            background-color: #eee;
        }
#arrival {
    width: 300px;
}
#arrival_div{
    float:left;
    margin-left:50px;
}
#arrival_result {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

    #arrival_result li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 5px;
        text-decoration: none;
        font-size: 15px;
        color: black;
        width: 300px;
        display: block
    }

        #arrival_result li a:hover:not(.header) {   
            background-color: #eee;
        }
